@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: Poppins;
}
:root {
    --bg-color: #0c151d;
    --text-color: #fff;
    --main-color: #ffe071;
    --other-color: #a3abb2;
    --second-color: #171f26;

    --h1-font: 32px;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20%;
    z-index: 1000;
    background: transparent;
    top: 0;
    right: 0;
}
.logo i {
    color: var(--other-color);
    background-color: var(--second-color);
    height: 60px;
    width: 60px;
    font-size: 26px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all ease .55s;
}
.logo i:hover {
    transform: scale(1.1);
    color: var(--text-color) ;
}
section {
    padding: 60px 34%;
}
.all {
    position: relative;
    width: 100%;
    height: auto;
}
.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.main-img {
    width: 110px;
    height: 110px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.main-text h1 {
    font-size: var(--h1-font);
    font-weight: 600;
    line-height: 1;
}
.main-text h4 {
    margin: 13px 0;
    font-size: 20px;
    font-weight: 500;
    color: var(--other-color);
}
.social i {
    display: inline-block;
    font-size: 22px;
    color: var(--other-color);
    margin-right: 15px;
    transition: all ease .55s;
}
.social i:hover {
    transform: translateY(-4px) scale(1.08);
    color: var(--main-color);
}
.row {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 1rem;
}
.main-row p{
    font-size: 16px;
    color: var(--other-color);
}

.button {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}

.btn1 {
    display: inline-block;
    padding: 16px 30px;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    transition: all ease .55s;
}
.btn1:hover {
    background-color: var(--second-color);
    color: var(--text-color);
}
.btn2 {
    display: inline-block;
    padding: 16px 30px;
    background-color: var(--second-color);
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    transition: all ease .55s;
}
.btn2:hover {
    background-color: var(--main-color);
    color: var(--bg-color);
}
.center {
    margin-top: 6rem;
    background-color: var(--second-color);
    color: var(--other-color);
    padding: 35px;
    border-radius: 10px;
    text-align: center;
}
.center h3 {
    font-size: 19px;

}
.portfolio {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    align-items: center;
    gap: 2rem;
}
.portfolio-content {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
}
.portfolio-content img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform .6s;
}
.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,.3), var(--second-color));
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 40px;
    transition: height .5s;
}
.layer h5 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
.layer i {
    color: var(--bg-color);
    background-color: var(--main-color);
    font-size: 16px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.portfolio-content:hover img {
    transform: scale(1.1);
}
.portfolio-content:hover .layer {
    height: 100%;
}
.bottom-text p {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: var(--other-color);
    margin-top: 5rem;
}