@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1dd1a1;
}
.login{
    position: relative;
    padding: 50px;
    background: #fff;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
}
.login h2{
    font-weight: 500;
    border-left: 15px solid #1dd1a1;
    line-height: 1em;
    padding-left: 15px;
    transition: 0.5s;
    color: #333;
}
.inputBox{
    position: relative;
}
input{
    width: 100%;
    position: relative;
    outline: none;
    border: 2px solid #555;
    padding: 10px 15px;
    font-size: 1em;
    color: #333;
}
input#btn{
    background-color: #1dd1a1;
    border: none;
    color: #fff;
    font-size: 1.1em;
    transition: 0.5s;
    font-weight: 500;
    cursor: pointer;
}
.group{
    display: flex;
    justify-content: space-between;
}
.group a{
    text-decoration: none;
    color: #333;
}
.group a:last-child{
    font-weight: 500;
    text-decoration: underline;
}
.colors{
    position: absolute;
    right: 0;
    padding: 10px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.colors span{
    width: 20px;
    height: 20px;
    position: relative;
    background-color: var(--clr);
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.colors span.active{
    border: 2px solid #333;
    transition: 0.5s;
    scale: 1.5;
}
@media (max-width:600px){
    .colors{
        position: absolute;
        bottom: 0;
        padding: 10px;
        flex-direction: row;
        left: 50%;
        transform: translateX(-50%);
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}